{% extends "users/home.html" %}
{% load crispy_forms_tags %}

{% block body %}
  <form method="post" enctype="multipart/form-data" action="{% url 'profile' %}">
    {% csrf_token %}
    <p><u><strong>Personal Details</strong></u></p>

          {{ form.image.errors }}
          {{ form.image|as_crispy_field }}

        {{ form.first_name.errors }}
        {{ form.first_name|as_crispy_field }}


        {{ form.middle_name.errors }}
        {{ form.middle_name|as_crispy_field }}

        {{ form.last_name.errors }}
        {{ form.last_name|as_crispy_field }}


        {{ form.father_first_name.errors }}
        {{ form.father_first_name|as_crispy_field }}

        {{ form.father_middle_name.errors }}
        {{ form.father_middle_name|as_crispy_field }}

        {{ form.father_last_name.errors }}
        {{ form.father_last_name|as_crispy_field }}

        {{ form.date_of_birth.errors }}
        {{ form.date_of_birth|as_crispy_field }}

        {{ form.joining_date.errors }}
        {{ form.joining_date|as_crispy_field }}

        {{ form.resignation_date.errors }}
        {{ form.resignation_date|as_crispy_field }}


          {{ form.adharcard_number.errors }}
          {{ form.adharcard_number|as_crispy_field }}


          {{ form.pan_number.errors }}
          {{ form.pan_number|as_crispy_field }}





    <p><u><strong>Contact Details</strong></u></p>
        {{ form.email.errors }}
        {{ form.email|as_crispy_field }}


        {{ form.phone_number1.errors }}
        {{ form.phone_number1|as_crispy_field }}

        {{ form.phone_number2.errors }}
        {{ form.phone_number2|as_crispy_field }}




    <p><u><strong>Address Details</strong></u></p>
    {{ form.address_lane1.errors }}
    {{ form.address_lane1|as_crispy_field }}
    {{ form.address_lane2.errors }}
    {{ form.address_lane2|as_crispy_field }}
    {{ form.address_lane3.errors }}
    {{ form.address_lane3|as_crispy_field }}

        {{ form.country.errors }}
        {{ form.country|as_crispy_field }}

        {{ form.state.errors }}
        {{ form.state|as_crispy_field }}




    <p><u><strong>Bank Details</strong></u></p>

        {{ form.bank_name.errors }}
        {{ form.bank_name|as_crispy_field }}

        {{ form.bank_branch.errors }}
        {{ form.bank_branch|as_crispy_field }}

        {{ form.account_number.errors }}
        {{ form.account_number|as_crispy_field }}

        {{ form.micr_code.errors }}
        {{ form.micr_code|as_crispy_field }}
        {{ form.ifsc_code.errors }}
        {{ form.ifsc_code|as_crispy_field }}

    <p><u><strong>Business Details</strong></u></p>

          {{ form.bd.errors }}
          {{ form.bd|as_crispy_field }}

          {{ form.execution.errors }}
          {{ form.execution|as_crispy_field }}


    <p><u><strong>Document Details</strong></u></p>

          {{ form.agreement_document.errors }}
          {{ form.agreement_document }}

          {{ form.document1.errors }}
          {{ form.document1|as_crispy_field }}

          {{ form.document2.errors }}
          {{ form.document2|as_crispy_field }}

          {{ form.document3.errors }}
          {{ form.document3|as_crispy_field }}

    <br>

    <br>
  </form>
{% endblock %}